<app-page-header></app-page-header>
<!-- Main Container -->
<article class="mainContainer">
    <!-- Info Section -->
    <section class="infoSection containerWidth">
        <h1 class="mainTitle">
            View and Compare All Credit Cards
        </h1>
        <div class="infoContent">
            Explore Citi's credit card offers, featuring exclusive perks and benefits to reward your spending. From cash back and travel cards, to low introductory APR on balance transfers, Citi has the right credit card for you. Browse our full range of credit card categories, or use Citi's card comparison tool to discover features and help you choose the best credit card to fit your needs. Simply check the box next to your 3 favorite cards to compare the various benefits, rewards, fees and offers. When you're ready, select the credit card you'd like to learn more about and apply online.
        </div>
    </section>
    <!-- Info Secion Ends -->
    <!-- Featture Credit Card Section -->
    <app-feature-credit-card-section></app-feature-credit-card-section>
    <!-- Feature Credit Card Section -->
    <!-- Browse Card Categories Section -->
    <section class="browseCardCategories textCenter">
        <div class="containerWidth">
            <h2 class="browseCardCategoriesTitle">Browse Our Card Categories</h2>
            <div class="tabListBlock">
                <button class="tabListItem secondary selected">All Credit Cards</button>
                <button class="tabListItem secondary">Rewards</button>
                <button class="tabListItem secondary">Travel</button>
                <button class="tabListItem secondary">0% Intro APR</button>
                <button class="tabListItem secondary">Cash Back</button>
                <button class="tabListItem secondary">Balance Transfer</button>
                <button class="tabListItem secondary">Business</button>
            </div>
        </div>
    </section>
    <!-- Browser Card Categories Section Ends -->
    <!-- All Cards Listing Section -->
    <Section class="cardListingSection containerWidth">
        <!-- Card Listing Block -->
        <div class="cardListingItem flex">
            <div class="cardImageBlock">
                <div class="cardInnerImageBlock">
                    <div class="cardInfoLabel">
                        Earn Cash Back
                    </div>
                    <img src="./assets/images/citi-custom-cash_247x156.png" alt="Custom Cash" title="Custom Cash">
                    <button class="link">Pricing &amp; information</button>
                </div>
                <div class="cardInfoActionBlock cardInfoTablet">
                    <div class="cardInfoActionCtaBlock">
                        <button class="btn primary">Learn More &amp; Apply</button>
                        <!-- Button and Link Block Ends -->
                        <!-- Compare Block -->
                        <div class="checkbox compareCheckBox">
                            <input type="checkbox" id="listcard1">
                            <label for="listcard1">Compare</label>
                        </div>
                        <!-- Compare Block Ends -->
                    </div>
                </div>
            </div>
            <div class="cardContentBlock">
                <div class="cardDescBlock">
                    <h3 class="cardDescBlockTitle">Citi Custom Cash<sup>SM</sup> Card</h3>
                    <p class="cardDescBlockDesc">Earn and redeem rewards with a card that adapts to fit your life. With the Citi Custom Cash<sup>SM</sup> Card, earn extra cash back in the eligible category you spend the most in each billing cycle. Plus, you can enjoy a low intro APR on new purchases and balance transfers for the first <span>15</span> months as a new cardholder, all with no annual fee.<sup>1</sup></p>
                </div>
                <div class="cardInfoBlock flex">
                    <div class="cardInfoContent">
                        <div class="cardInfoMainContent">
                            <strong>Earn&nbsp;$<span>200</span> cash back</strong> after you spend&nbsp;<strong>$<span>1,500</span></strong>&nbsp;on purchases in the&nbsp;<strong>first&nbsp;<span>6</span>&nbsp;months of account opening</strong>. Plus enjoy our low intro APR for <span>15</span> months.<sup>1</sup>
                        </div>
                        <h4 class="bold">
                            Purchase and Balance Transfer 
                        </h4>
                        <div class="cardInfoText">
                            0% Intro APR on purchases and balance transfers for 15 months; after that the variable APR will be 16.24% - 26.24%, based on your creditworthiness.
                        </div>
                        <div class="cardInfoText">
                            Balance transfer fee of either $5 or 5% of the amount of each transfer, whichever is greater
                        </div>
                        <h4 class="cardInfoTitle bold">
                            Annual Fee:
                        </h4>
                        <div class="cardInfoText">
                            No annual fee
                        </div>
                    </div>
                    <div class="cardInfoActionBlock cardInfoDesktop">
                        <div class="cardInfoActionCtaBlock">
                            <button class="btn primary">Learn More &amp; Apply</button>
                            <!-- Button and Link Block Ends -->
                            <!-- Compare Block -->
                            <div class="checkbox compareCheckBox">
                                <input type="checkbox" id="listcard1">
                                <label for="listcard1">Compare</label>
                            </div>
                            <!-- Compare Block Ends -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Card Listing Block Ends -->
    </Section>
    <!-- All Cards Listing Section Ends -->
</article>
<!-- Main Container Ends -->