<!-- Main Header -->
<div class="mainHeader">
    <div class="flex containerWidth spaceBetween alignCenter">
        <div class="logoBlock">
            <app-image [src]="'./assets/images/citilogo.png'" [alt]="'citi'" [title]="'citi'"></app-image>
        </div>
        <div class="searchBlock">
            <app-button class="searchBtn underline bold" text="Search">
                <app-image class="searchImg" src="./assets/images//search-white.png" alt="Search" title="Search">
                </app-image>
            </app-button>
        </div>
    </div>
</div>
<!-- Main Header Ends -->