@import "./reset.css";
@import "./util.css";

.container {
    font-size: 14px;
}
/* Promo Block */
.promoBlock {
    background: #333;
    padding: 2px 0;
}

.promoBlockLink {
    color: #FFF;
    font-size: 12px;
    margin-left: 16px;
}
/* Promo Block Ends */

.text-white{
    color: #fff;
}
/* Main Header */
.mainHeader {
    background-image: linear-gradient(180deg,#00bdf2 0%,#00b3f0 16%,#0066b3 77%,#004985 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 70px;
    overflow: hidden;
}

.searchBtn {
    color: #FFF;
}

.searchImg {
    width: 20px;
    margin-left: 8px;
}
/* Main Header Ends */

/* Nav Header */
.menuButton {
    color: #056dae;
    display: none;
    font-weight: bold;
}
.navHeader {
    background: rgba(255,255,255,.95);
    box-shadow: 0 1px 5px #00000020, 0 1px 1px #00000020;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 60px;
}

.navLink {
    color: #333;
    height: 100%;
    padding: 16px 8px 18px;
    margin: 0 16px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    position: relative;
    display: block;
}

.navLink:first-child {
    margin-left: 0;
}

.navLink::before {
    content: "";
    background-color: #056dae;
    position: absolute;
    height: 3px;
    width: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    transition: width .2s ease;
}

.navLink:hover::before {
    width: 100%;
}
/* Nav Header Ends */

/* Main Container */
.mainContainer {
    padding: 40px 0 20px;
}

.mainTitle {
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 16px;;
}

.infoSection {
    margin-bottom: 40px;
}

.infoContent {
    font-size: 16px;
    line-height: 24px;
}
/* Main Container Ends */

/* Feature Credit Card */
.featureCardTitle {
    padding-bottom: 6px;
    border-bottom: 1px solid #bfbfbf;
    font-size: 26px;
    line-height: 32px;
    margin-bottom: 40px;
}

.featureCreditCardListItem {
    padding: 8px;
    font-size: 20px;
    line-height: 28px;
}

.middleBlock {
    border-left: 1px solid #bfbfbf;
    border-right: 1px solid #bfbfbf;
}

.featureCardInnerTitle {
    font-size: 20px;
    line-height: 28px;
    margin: 4px 20px 24px;
}

.featureCardInnerDesc {
    margin: 4px 32px 24px;
}

.creditCardImage {
    margin: 40px auto 8px;
    max-width: 247px;
    width: 100%;
}

.link {
    color: #056dae;
    display: block;
    font-size: 12px;
    font-weight: bold;
    line-height: 18px;
    margin-top: 24px;
    text-align: center;
    text-decoration: underline;
    width: 100%;
}
/* Feature Credit Card Ends */

/* Browse Card Categories */
.browseCardCategories {
    background: url(../images/bg_moneybar.png) no-repeat left center;
    background-size: cover;
    color: #FFF;
    position: relative;
    padding: 24px 0;
}
.tabListBlock {
    margin-top: 12px;
}

.tabListItem  {
    margin: 2px;
}
/* Browse Card Categories Ends */

/* Card Listing Section */
.cardListingItem {
    background: #EEE;
    font-size: 14px;
    padding: 24px;
    margin-top: 20px;
}

.cardImageBlock,
.cardInfoActionBlock {
    width: 300px;
}

.cardContentBlock,
.cardInfoContent {
    width: calc(100% - 300px);
}

.cardInnerImageBlock,
.cardInfoActionCtaBlock {
    width: 222px;
    margin: 0 auto;
}

.cardInnerImageBlock img {
    width: 100%;
}

.compareCheckBox {
    text-align: center;
}

.cardInfoLabel {
    background-color: #00843d;
    color: #fff;
    min-width: 188px;
    height: 38px;
    border-radius: 8px 0 0 8px;
    margin-bottom: 4px;
    margin-right: 24px;
    position: relative;
    display: inline-block;
    padding: 6px 12px;
    align-items: center;
    margin-left: 3px;
    justify-content: center;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
}

.cardInfoLabel:before {
    content: "";
    position: absolute;
    z-index: 2;
    right: -24px;
    top: 0px;
    border-right: 25px solid transparent;
    border-top: 18px solid #00843d;
    border-bottom: 20px solid #00843d;
}

.cardDescBlockTitle {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 4px;
}
.cardDescBlockDesc {
    font-size: 16px;
    line-height: 24px;
}
.cardInfoMainContent {
    margin: 16px 0;
}
.cardInfoTitle,
.cardInfoText {
    margin-top: 8px;
}
.cardInfoDesktop {
    margin-top: 20px;
}
.cardInfoTablet {
    display: none;
}
/* Card Listing Section Ends */

/* Footer */
footer {
    color: #adadad;
    background: #282828;
    min-height: 1.4em;
    position: initial;
    width: 100%;
    z-index: 3;
}

.footerLink {
    color: #e0e0e0;
    display: block;
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 16px;
}

.footerListingBlock {
    padding: 24px;
    max-width: 980px;
    margin: 0 auto;
}
.footerList:nth-child(odd) {
    width: 30%;
}
.footerList:nth-child(even) {
    width: 20%;
}

.footerTitle {
    font-weight: bold;
}

.adChoices {
    background-image: url(../images/adchoice-ccc.png);
    background-repeat: no-repeat;
    background-size: 15px 16px;
    background-position: 61px 1px;
    display: block;
}

.sprite {
    background-repeat: no-repeat;
    background-image: url(../images/sprites.png);
    background-size: 199px;
    height: 19px;
    width: 32px;
    display: inline-block;
    padding-left: 36px;
}

.facebook {
    background-position: -61px -111px
}
.twitter {
    background-position: -65px -71px;
}
.youtube {
    background-position: -64px -91px;
}
.copyRightBlock {
    border-top: 1px solid #e0e0e0;
    font-size: 14px;
    padding: 24px;
    margin: 0 auto;
    max-width: 980px;
}
/* Footer Ends */

/* Responsive */
@media screen and (min-width: 767px) and (max-width: 1024px) {
    .featureCardInnerTitle {
        font-size: 18px;
        line-height: 24px;
        margin: 4px 8px 24px;
    }

    .featureCardInnerDesc {
        font-size: 16px;
        line-height: 20px;
        margin: 4px 24px 24px;
    }

    .cardInfoContent {
        width: 100%;
    }

    .cardInfoDesktop {
        display: none;
    }

    .cardInfoTablet {
        margin-top: 24px;
        display: block;
    }
    .creditCardImage {
        width: 90%;
    }
}

@media screen and (max-width: 767px) {
    .menuButton {
        display: flex;
        padding: 24px 0;
        position: relative;
    }
    .arrowImageBlock {
        margin-left: 4px;
    }

    .menuButton:hover:before {
        background: rgba(0,0,0,0);
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }

    .menuButton:hover .arrowImageBlock {
        transform: rotate(180deg);
    }

    .navHeaderContainer {
        display: none;
    }

    .menuButtonBlock:hover .navHeaderContainer {
        background: #FFF;
        box-shadow: 0 0px 2px 1px rgb(0,0,0,0.25);
        display: block;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
    }
    .navLink {
        margin: 0;
        padding: 16px 24px;
        border-bottom: 1px solid #00000029;
    }
    .signOnBtn {
        box-shadow: -4px 0 10px #0000001a;
        padding: 24px 0 24px 16px;
    }
    
    .featureCardInnerTitle {
        font-size: 18px;
        line-height: 24px;
        margin: 4px 8px 24px;
    }

    .featureCardInnerDesc {
        font-size: 16px;
        line-height: 20px;
        margin: 4px 24px 24px;
    }

    .cardInfoContent {
        width: 100%;
    }

    .cardInfoDesktop {
        display: none;
    }

    .featureCreditCardListBlock, .cardListingItem {
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
    }

    .middleBlock {
        border-top: 1px solid #bfbfbf;
        border-bottom: 1px solid #bfbfbf;
        border-left: 0;
        border-right: 0;
    }

    .cardInnerImageBlock,
    .cardContentBlock {
        width: 100%;
    }

    .cardInfoBlock {
        flex-wrap: wrap;
    }

    .cardContentBlock {
        margin-top: 24px;
    }

    .cardInfoDesktop {
        display: block;
    }

    .footerListingBlock {
        flex-wrap: wrap;
        padding-bottom: 0;
    }
    
    .socilBlock {
        align-items: flex-start;
    }

    .footerListingBlock .footerList:nth-child(odd) {
        width: 60%;
        padding-right: 24px;
        padding-bottom: 24px;
    }
    .footerListingBlock .footerList:nth-child(even) {
        width: 40%;
        padding-right: 24px;
    }
}
/* Responsive Ends */
