<!-- Promo Block -->
<div class="promoBlock">
<ul class="promoBlockListContainer flex containerWidth contentEnd">
    <li class="promoBlockListContent underline bold"><app-hyperlink [text]="'ATM / Branch'" class="promoBlockLink"></app-hyperlink></li>
    <li class="promoBlockListContent underline bold"><app-hyperlink [text]="'Open an Account'" class="promoBlockLink"></app-hyperlink></li>
    <li class="promoBlockListContent underline bold"><app-hyperlink [text]="'Espanol'" class="promoBlockLink"></app-hyperlink></li>
</ul>
</div>