<h1 *ngIf="header==='h1'"  [attr.class]="class" [innerHtml]="text"><ng-content></ng-content></h1>
<h2 *ngIf="header==='h2'"  [attr.class]="class" [innerHtml]="text"><ng-content></ng-content></h2>
<h3 *ngIf="header==='h3'"  [attr.class]="class" [innerHtml]="text"><ng-content></ng-content></h3>
<h4 *ngIf="header==='h4'"  [attr.class]="class" [innerHtml]="text"><ng-content></ng-content></h4>
<h5 *ngIf="header==='h5'"  [attr.class]="class" [innerHtml]="text"><ng-content></ng-content></h5>
<h6 *ngIf="header==='h6'"  [attr.class]="class" [innerHtml]="text"><ng-content></ng-content></h6>
