
    <div class="navHeader flex spaceBetween">
        <div class="flex containerWidth spaceBetween alignCenter">
            <ul class="navHeaderContainer flex">
                <li class="navHeaderContent"><app-hyperlink [class]="'navLink'" [text]="'Credit Cards'"></app-hyperlink>
                <li class="navHeaderContent"><app-hyperlink [class]="'navLink'" [text]="'Banking'"></app-hyperlink></li>
                <li class="navHeaderContent"><app-hyperlink [class]="'navLink'" [text]="'Lending'"></app-hyperlink></li>
                <li class="navHeaderContent"><app-hyperlink [class]="'navLink'" [text]="'Investing'"></app-hyperlink></li>
                <li class="navHeaderContent"><app-hyperlink [class]="'navLink'" [text]="'Citigold<sup>&reg;</sup>'"></app-hyperlink></li>
            </ul>
            <app-button [class]="'signOnBtn bold'" [text]="'Sign On'"></app-button>
        </div>
    </div>